
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>CodeGuard</title>

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

</head>

<body>

<div class="sidebar">

    <div class="logo">

       <img src= "{% static 'images/codeguard-logo.png' %}" alt="CodeGuard Logo" class="logo-image">

    <p class="logo-tagline">AI Code Security Platform</p>

    </div>

    <ul>

<li>
<a href="{% url 'dashboard' %}">
🏠 Dashboard
</a>
</li>

<li>
<a href="{% url 'upload_file' %}">
📤 Upload Code
</a>
</li>

<li>
<a href="{% url 'my_files' %}">
📂 My Files
</a>
</li>

<li>
<a href="#">
🧾 Reports
</a>
</li>

</ul>

</div>

<div class="main-content">

    <div class="topbar">

    <div class="user-greeting">

    Welcome back,

    <span class="username">

        {{ request.user.username|title }}

    </span>

    </div>

    <a
       href="{% url 'logout' %}"
       class="logout-btn">

        Logout

    </a>

</div>

    {% block content %}
    {% endblock %}

</div>

</body>
</html>