{% extends "accounts/base.html" %}

{% block content %}

<h1>📊 Dashboard</h1>

<div class="dashboard-cards">

    <div class="stat-card">
        <h3>Total Files</h3>
        <h2>{{ total_files }}</h2>
    </div>

    <div class="stat-card">
    <h3>Analyzed Files</h3>
    <h1>{{ analyzed_files }}</h1>
    </div>

    <div class="stat-card">
        <h3>Average Score</h3>
        <h2>{{ average_score }}/10</h2>
    </div>

    <div class="stat-card">
        <h3>Security Issues</h3>
        <h2>{{ security_count }}</h2>
    </div>

    <div class="quality-card">

    <h2>

    Quality Distribution

    </h2>

    <div class="quality-row">

    <span>🟢 Excellent</span>

    <b>{{ excellent }}</b>

    </div>

    <div class="quality-row">

    <span>🔵 Good</span>

    <b>{{ good }}</b>

    </div>

    <div class="quality-row">

    <span>🟡 Needs Improvement</span>

    <b>{{ improve }}</b>

    </div>

    <div class="quality-row">

    <span>🔴 Poor</span>

    <b>{{ poor }}</b>

    </div>

    </div>

</div>

<div class="report-card">

<h2>Recent Analysis</h2>
<br>
<table class="recent-table">

<thead>

<tr>

<th>File</th>

<th>Score</th>

<th>Security</th>

<th>Status</th>

<th>Date</th>

<th></th>

</tr>

</thead>

<tbody>

{% for report in recent %}

<tr>

<td>

{{ report.uploaded_file.file.name|cut:"uploads/" }}

</td>

<td>

{{ report.pylint_score }}/10

</td>

<td>

{{ report.security_issue_count }}

</td>

<td>

<span class="badge
{% if report.quality_status == 'Excellent' %}
excellent
{% elif report.quality_status == 'Good' %}
good
{% elif report.quality_status == 'Needs Improvement' %}
warning
{% else %}
danger
{% endif %}
">

{{ report.quality_status }}

</span>

</td>

<td>

{{ report.analyzed_at|date:"d M Y" }}

</td>

<td>

<a class="view-btn"
href="{% url 'report_detail' report.id %}">

View →

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}