{% extends 'accounts/base.html' %}

{% block content %}

<h1>
    My Uploaded Files
</h1>

<table>

    <thead>

    <tr>

        <th>File</th>
        <th>Status</th>
        <th>Uploaded</th>
        <th>Report</th>

    </tr>

    </thead>

    <tbody>

    {% for file in files %}

    <tr>

        <td>
            {{ file.file.name }}
        </td>

        <td>
            <span class="badge warning">
                {{ file.status }}
            </span>
        </td>

        <td>
            {{ file.uploaded_At }}
        </td>

   

    <td>
        {% if file.analysisreport %}
        <a href="{% url 'report_detail' file.analysisreport.id %}" class="btn btn-primary">

            View Report
        </a>
        {% else %}
        <span class="badge warning">Not Analyzed </span>
        {% endif %}
    </td>
 </tr>

{% endfor %}
    </tbody>

</table>

{% endblock %}